/* Opdracht 2.1 css - Made by Dylan */
.p-tag {
    width:150px;
    height:75px;
    color:orange;
    margin:40px;
    background-color: purple;
    }

.h1-tag{
    color:black;
    background-color:pink;
    padding-right:20px;
}
