* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Goldman", cursive;
  position: relative; 
  min-height: 100vh; 
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  z-index: 100; 
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav img {
  width: 5vw;
}

.H1-tag {
  padding: 50px;
  text-align: center;
  margin-bottom: 20px;
}

img {
  float: left;
  margin-right: 20px;
}

p {
  float: left;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #333;
  color: white;
  padding: 20px;
}
